@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using System;
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-gray-400">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
                  <div class="shadow-lg bg-gray-600 rounded-md transform hover:translate-x-2 hover:shadow-2xl p-10">
      <h2 class="text-blue-300 font-bold text-center text-5xl">Machine Details</h2>
      <hr class="mb-3">
      <h3>Machine: <span class="text-purple-500"> @Html.DisplayFor(model => model.MachineName)</span></h3>
      <li>Operating: <span class="text-red-600">@Model.Operational</span></li>
      <li>Malfunctioning: <span class="text-red-600">@Model.Malfunctioning</span> </li>
      <li>Repaired: <span class="text-red-600">@Model.Repaired</span></li> <br>
      @if (@Model.JoinEntities.Count == 0)
      {
        <p>No machines assigned to an engineer</p>
      }
      else
      {
        <h4 class="text-blue-300 font-bold">Machine @Model.MachineName assigned to the following Engineers:</h4>
        <hr class="mb-3">
        <ul>
          @foreach (var join in Model.JoinEntities)
          {
            <li><span class="">@join.Engineer.EngineerName</span> <i class="text-green-400 bx bx-male"># @join.Engineer.EngineerId</i></li>
         @using (Html.BeginForm("DeleteEngineer", "Machines"))
         {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input class="text-red-600 bg-gray-700 rounded-sm" type="submit" value="Delete"/>
         }
  }
         }
        </ul>
      }
      <hr class="my-3 mb-3">
      <div class="text-blue-300">
      <p class="hover:scale-110">@Html.ActionLink("Back to machines index", "Index")</p>
      <p class="hover:scale-110">@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
      <p class="hover:scale-110">@Html.ActionLink("Remove machine", "Delete", new { id = Model.MachineId })</p>
      </div>
  </div>
</div>
</div>