@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-gray-400 bg-opacity-95">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <div class="grid min-h-screen place-items-center">
        <div class="w-11/12 p-12 bg-gray-600 sm:w-8/12 md:w-1/2 lg:w-5/12">
                  <h1 class="py-3 text-3xl font-bold pb-3 text-center text-blue-300 bg-gray-800">Add Engineer <hr></h1>
          <h1 class="text-xl font-semibold">Adding an Engineer is easy. <i class="text-yellow-300 bx bxs-bulb"></i> <br>
            <br> <span class="font-normal text-blue-300">Please fill out the information below in order to add an
              engineer to the database.</span> <i class='bx bxs-pointer'></i></h1>
          <form class="mt-6">
            <div class="flex justify-between gap-3">
              <span class="w-1/2">
                <label for="firstname" class="block text-xs font-semibold text-blue-300 uppercase">First name</label>
                <input id="firstname" type="text" name="firstname" placeholder="John" autocomplete="given-name"
                  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                  required />
              </span>
              <span class="w-1/2">
                <label for="lastname" class="block text-xs font-semibold text-blue-300 uppercase">Last name</label>
                <input id="lastname" type="text" name="lastname" placeholder="Doe" autocomplete="family-name"
                  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                  required />
              </span>
            </div>
            <label for="operational"
              class="block mt-2 text-xs font-semibold text-blue-300 uppercase">Operational</label>
            <input id="operational" class="object-left" type="checkbox" name="operational"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              required />
            <label for="malfunctioning"
              class="block py-3 mt-2 text-xs font-semibold text-blue-300 uppercase">Malfunctioning</label>
            <input id="malfunctioning" class="object-left" type="checkbox" name="malfunctioning"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              required />
            <label for="repaired" class="block mt-2 text-xs font-semibold text-blue-300 uppercase">Repaired</label>
            <input type="checkbox" id="repaired" 
              class="block object-left w-full p-3 mt-2 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner"
              required />
            <button type="submit"
              class="w-full py-3 mt-6 font-medium tracking-widest text-blue-300 uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
              Add Engineer
            </button>
            <p class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black">
              Already registered?</p>
          </form>
        </div>
      </div>
      <h4>Add a new Engineer to database</h4>

      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.EngineerName)
        @Html.TextBoxFor(model => model.EngineerName)

        @Html.Label("Select Machine")
        @Html.DropDownList("MachineId")

        <input type="submit" value="Add Engineer" class="btn btn-default" />
      }


      <p>@Html.ActionLink("Return to Engineer index", "Index")</p>
    </div>
  </div>
</div>