@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-gray-400 bg-opacity-95 ">
  <div class="relative py-3 max-w-screen w-4/6 mx-auto">
    <div class="object-center">
      <div class="grid min-h-screen place-items-center">
        <div class="w-11/12 p-12 bg-gray-600 sm:w-8/12 md:w-1/2 lg:w-5/12 rounded-md transform hover:translate-x-2 hover:shadow-2xl">
          <h1 class="py-3 text-3xl font-bold pb-3 text-center text-blue-300 bg-gray-800">Add Engineer
            <hr>
          </h1>
          <h1 class="text-xl font-semibold">Adding an Engineer is easy. <i class="text-yellow-300 bx bxs-bulb"></i> <br>
            <br> <span class="font-normal text-blue-300">Please fill out the information below in order to add an
              engineer to the database.</span> <i class='bx bxs-pointer'></i>
          </h1>
          <form class="mt-6" action="/Engineers/create/" method="post">
            <div class="flex justify-between gap-3">
              <span class="w-1/2">
                <label for="EngineerName" class="block text-xs font-semibold text-blue-300 uppercase">Engineer Identifier</label>
                <input id="EngineerName" type="text" name="EngineerName" placeholder="Nikola Tesla" autocomplete="given-name"
                  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                  required />
              </span>
            </div>
            <label for="assign-machine" class="py-3 block mt-2 text-xs font-semibold text-blue-300 uppercase">Assign
              Machine to Engineer</label>
             <div class="text-blue-300">@Html.DropDownList("MachineId")</div>
            <input type="submit"
              class="w-full py-3 mt-6 font-medium tracking-widest text-blue-300 uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
            </input>
          </form>
        </div>
      </div>
      <h4>Add a new Engineer to database</h4>

      @using (Html.BeginForm())
      {
        @* @Html.LabelFor(model => model.EngineerName)
          @Html.TextBoxFor(model => model.EngineerName)

          @Html.Label("Select Machine")
          @Html.DropDownList("MachineId")

          <input type="submit" value="Add Engineer" class="btn btn-default" /> *@
      }


    </div>
  </div>
</div>