@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer to database</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Add Engineer" class="btn btn-default" />
}


<p>@Html.ActionLink("Return to Engineer index", "Index")</p>